.fullcontainer {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  border: 2px solid black;
  border-radius: 30px;
  margin: 0 auto; /* Center horizontally */
  width: 75%;
  position: relative; /* Ensure relative positioning */
}

.topframe {
justify-content: center;
}

.textStyles {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 95%; /* Adjust the width as needed */
  max-height:275px; /* Limit height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: auto; /* Ensure text alignment is left */
  margin-left: 30px;

}

.pageCounter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  background-color: transparent;
}

.pageInfo {
  margin: 0 10px;
}

.currentPage {
  font-weight: bold;
  color: black;
  padding: 2px 5px;
  border: 1px solid black;
  margin-right: 10px;
}

.arrow:hover {
  background-color: #f0f0f0;
}

.bottomframe {
  border-top: 2px solid black;
}
