.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-left: 500px;
  margin-top: 10px;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #E34A3E;
  border-top: none;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 237px;
  height: 30px;
}



.content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread items evenly */
  gap: 10px;
  padding-bottom: 10px; /* Space above the line */
}

.textButton {
  background: none;
  border: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  text-align: center;

  &:hover {
    text-decoration: underline; /* Subtle hover effect */
  }
}

.divider {
  color: #000;
  font-size: 16px;
}

.rectangle {

}
