.frame {
  position: relative;
  width: 95vw;
  height: 300px;
  overflow-x: scroll;
  gap:100px;
  background-color: black;
  padding: 0px;
  margin-top: 50px; /* Bring the frame down */
  border-radius:30px;
  margin-left:-60px;
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent; /* Makes scrollbar background transparent */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Initially make thumb transparent */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgb(145, 145, 145, 0.5); /* Visible on hover with transparency */
  }

  &::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173, 0.5); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-left:60px;
}
.bookContainer {
  display: flex;
  gap: 100px; /* Adjust the gap between books */
  margin-top: 20px; /* Add margin-top to create space between title and books */
  margin-left:60px;
}

.book {
 
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap between book image and description */
}

.bookImage {
  width: 120px; /* Adjust the width of the book image */
  height: auto; /* Maintain aspect ratio */
}

.bookDescription {
  display: flex;
  flex-direction: column;
  color:white;
  justify-content:flex-start;
  align-content:start;
   width:15vw;
}

.bookTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px; /* Add margin bottom to create space between title and info */
}